<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Home{% endblock %}</title>
    <link href="{% static "styles/index.css" %}" rel="stylesheet">
</head>

<body>
<div class="wrapper">
    {% include "_helpers/_header.html" %}
    <main class="main">
        <section class="get-started">
            <div class="get-started__container">
                <div class="get-started__body">
                    {% block body %}
                    {% endblock %}
                    {% include "_helpers/_messages.html" %}
                </div>
            </div>
        </section>
    </main>
</div>
</body>


</html>