<header class="header">
    <div class="header__container">
        <nav class="menu__body">
            <ul class="menu__list">
                <li class="menu__item">
                    <a href="{% url "index" %}" class="menu__link wave-btn">
                        <span class="wave-btn__text">Home</span>
                        <span class="wave-btn__waves"></span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url "email_generator:index" %}" class="menu__link wave-btn">
                        <span class="wave-btn__text">Email generator</span>
                        <span class="wave-btn__waves"></span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url "contacts:show_contacts" %}" class="menu__link wave-btn">
                        <span class="wave-btn__text">Contacts</span>
                        <span class="wave-btn__waves"></span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="{% url "sessions_example:index" %}" class="menu__link wave-btn">
                        <span class="wave-btn__text">Session Example</span>
                        <span class="wave-btn__waves"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="get-started__header"
         style="justify-content: space-around; align-items: center; padding: 50px 0; flex-direction: column">
        {% if user.is_authenticated %}
            <div>Hi {{ user.username }}!</div>
            <div><a href="{% url 'logout' %}">Log Out</a></div>
        {% else %}
            <div>
                <a href="{% url 'login' %}">Log In</a>
                <span> or </span>
                <a href="{% url 'users:signup' %}">Sign Up</a>
            </div>
        {% endif %}
    </div>

</header>